In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in .\.venv\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in .\.venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in .\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\.venv\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in .\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in .\.venv\lib\site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in .\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in .\.venv\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in .\.venv\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in .\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in .\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import re

In [4]:
sales_annalysis=pd.read_csv(r"D:\capstone_project_2nd\Luxury_Housing_Bangalore.csv")
sales_annalysis.head(5)

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [5]:
sales_annalysis.drop(['Property_ID','Buyer_Comments'], axis=1 , inplace=True)

In [6]:
sales_annalysis.describe()

,Unit_Size_Sqft,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min
count,90954.000000,101000.000000,90910.000000,101000.000000,101000.000000
mean,5972.274765,6.992619,7.503663,7.498426,67.182921
std,1783.397836,1.731757,1.440758,1.443128,30.271611
min,-1.000000,4.000031,5.000224,5.000013,15.000000
25%,4477.250000,5.494526,6.260329,6.247954,41.000000
50%,5990.000000,6.985805,7.499123,7.495614,67.000000
75%,7497.000000,8.490000,8.752207,8.749824,93.000000
max,8999.000000,9.999970,9.999865,9.999956,119.000000

In [7]:
sales_annalysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Micro_Market          101000 non-null  object
 1   Project_Name          101000 non-null  object
 2   Developer_Name        101000 non-null  object
 3   Unit_Size_Sqft        90954 non-null   float64
 4   Configuration         101000 non-null  object
 5   Ticket_Price_Cr       90981 non-null   object
 6   Transaction_Type      101000 non-null  object
 7   Buyer_Type            101000 non-null  object
 8   Purchase_Quarter      101000 non-null  object
 9   Connectivity_Score    101000 non-null  float64
 10  Amenity_Score         90910 non-null   float64
 11  Possession_Status     101000 non-null  object
 12  Sales_Channel         101000 non-null  object
 13  NRI_Buyer             101000 non-null  object
 14  Locality_Infra_Score  101000 non-null  float64
 15  Avg_Traffic_Time_Min  101000 non-null  int64
dtypes: float64(4), int64(1), object(11)
memory usage: 12.3+ MB

In [8]:
for i in ('Configuration','Micro_Market','Project_Name','Developer_Name','Ticket_Price_Cr','Transaction_Type','Buyer_Type','Possession_Status','Sales_Channel','NRI_Buyer'):
    sales_annalysis[i]=sales_annalysis[i].str.strip()
print(sales_annalysis.Configuration.unique())
print(sales_annalysis.Micro_Market.unique())
print(sales_annalysis.Developer_Name.unique())
print(sales_annalysis.Transaction_Type.unique())
print(sales_annalysis.Buyer_Type.unique())
print(sales_annalysis.Possession_Status.unique())
print(sales_annalysis.Sales_Channel.unique())
print(sales_annalysis.NRI_Buyer.unique())

['4bhk' '3Bhk' '3BHK' '4Bhk' '5BHK+' '4BHK' '5bhk+' '5Bhk+' '3bhk']
['Sarjapur Road' 'Indiranagar' 'Bannerghatta Road' 'bellary road'
 'Koramangala' 'YELAHANKA' 'whitefield' 'sarjapur road' 'JP NAGAR'
 'Rajajinagar' 'koramangala' 'WHITEFIELD' 'indiranagar' 'jayanagar'
 'Whitefield' 'DOMLUR' 'yelahanka' 'Mg Road' 'HENNUR ROAD' 'Jayanagar'
 'Domlur' 'Electronic City' 'Hebbal' 'mg road' 'jp nagar'
 'BANNERGHATTA ROAD' 'MG ROAD' 'KANAKAPURA ROAD' 'HEBBAL' 'BELLARY ROAD'
 'electronic city' 'ELECTRONIC CITY' 'Bellary Road' 'Hennur Road'
 'rajajinagar' 'Kanakapura Road' 'INDIRANAGAR' 'hennur road'
 'kanakapura road' 'domlur' 'bannerghatta road' 'RAJAJINAGAR' 'hebbal'
 'Yelahanka' 'SARJAPUR ROAD' 'KORAMANGALA' 'Jp Nagar' 'JAYANAGAR']
['RMZ' 'Puravankara' 'Tata Housing' 'Embassy' 'SNN Raj' 'Brigade'
 'Prestige' 'Total Environment' 'Godrej' 'L&T Realty' 'Sobha']
['Primary' 'Secondary']
['NRI' 'Other' 'HNI' 'CXO' 'Startup Founder']
['Launch' 'Under construction' 'Ready to move']
['Broker' 'NRI Desk' 'Direct' 'Online']
['yes' 'no']

In [9]:
sales_annalysis.Configuration.replace(['3Bhk','3bhk'],'3BHK', inplace=True)
sales_annalysis.Configuration.replace(['4bhk','4Bhk'],'4BHK', inplace=True)
sales_annalysis.Configuration.replace(['5bhk+','5Bhk+'],'5BHK+', inplace=True)
sales_annalysis.Micro_Market.replace(['Sarjapur Road' ,'sarjapur road'],'SARJAPUR ROAD', inplace=True)
sales_annalysis.Micro_Market.replace(['Indiranagar','indiranagar'],'INDIRANAGAR', inplace=True)
sales_annalysis.Micro_Market.replace(['Bannerghatta Road','bannerghatta road'],'BANNERGHATTA ROAD', inplace=True)
sales_annalysis.Micro_Market.replace(['bellary road','Bellary Road'],'BELLARY ROAD', inplace=True)
sales_annalysis.Micro_Market.replace(['Koramangala','koramangala'],'KORAMANGALA', inplace=True)
sales_annalysis.Micro_Market.replace(['Yelahanka','yelahanka'],'YELAHANKA', inplace=True)
sales_annalysis.Micro_Market.replace(['Whitefield','whitefield'],'WHITEFIELD', inplace=True)
sales_annalysis.Micro_Market.replace(['jp nagar','Jp Nagar'],'JP NAGAR', inplace=True)
sales_annalysis.Micro_Market.replace(['Rajajinagar','rajajinagar'],'RAJAJINAGAR', inplace=True)
sales_annalysis.Micro_Market.replace(['jayanagar','Jayanagar'],'JAYANAGAR', inplace=True)
sales_annalysis.Micro_Market.replace(['domlur','Domlur'],'DOMLUR', inplace=True)
sales_annalysis.Micro_Market.replace(['Hennur Road','hennur road'],'HENNUR ROAD', inplace=True)
sales_annalysis.Micro_Market.replace(['electronic city','Electronic City'],'ELECTRONIC CITY', inplace=True)
sales_annalysis.Micro_Market.replace(['hebbal','Hebbal'],'HEBBAL', inplace=True)
sales_annalysis.Micro_Market.replace(['mg road','Mg Road'],'MG ROAD', inplace=True)
sales_annalysis.Micro_Market.replace(['kanakapura road','Kanakapura Road'],'KANAKAPURA ROAD', inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7584\957635520.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_annalysis.Configuration.replace(['3Bhk','3bhk'],'3BHK', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_7584\957635520.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_annalysis.Micro_Market.replace(['Sarjapur Road' ,'sarjapur road'],'SARJAPUR ROAD', inplace=True)

In [10]:
print(sales_annalysis.Configuration.unique())
print(sales_annalysis.Micro_Market.unique())

['4BHK' '3BHK' '5BHK+']
['SARJAPUR ROAD' 'INDIRANAGAR' 'BANNERGHATTA ROAD' 'BELLARY ROAD'
 'KORAMANGALA' 'YELAHANKA' 'WHITEFIELD' 'JP NAGAR' 'RAJAJINAGAR'
 'JAYANAGAR' 'DOMLUR' 'MG ROAD' 'HENNUR ROAD' 'ELECTRONIC CITY' 'HEBBAL'
 'KANAKAPURA ROAD']

In [11]:
# Function to clean currency text and extract numeric value
def clean_ticket_price(value):
    if pd.isna(value):
        return None
    # Remove anything that’s not a digit, decimal point, or minus sign
    cleaned = re.sub(r'[^0-9.]', '', str(value))
    try:
        return float(cleaned)
    except ValueError:
        return None  # In case conversion fails
sales_annalysis['Ticket_Price_Cr'] = sales_annalysis['Ticket_Price_Cr'].apply(clean_ticket_price)

In [12]:
sales_annalysis.head(2)

,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min
0,SARJAPUR ROAD,Project_0,RMZ,4025.0,4BHK,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18
1,INDIRANAGAR,Project_1,Puravankara,5760.0,3BHK,16.292152,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106

In [13]:
sales_annalysis['Ticket_Price_Cr']=sales_annalysis['Ticket_Price_Cr'].astype('float64')
sales_annalysis['Purchase_Quarter']=sales_annalysis['Purchase_Quarter'].astype('datetime64[ns]')

In [14]:
sales_annalysis.Unit_Size_Sqft.dtype

dtype('float64')

In [15]:
sales_annalysis.iloc[145]

Micro_Market                   BELLARY ROAD
Project_Name                    Project_145
Developer_Name                  Puravankara
Unit_Size_Sqft                         -1.0
Configuration                          3BHK
Ticket_Price_Cr                    9.094891
Transaction_Type                  Secondary
Buyer_Type                  Startup Founder
Purchase_Quarter        2024-03-31 00:00:00
Connectivity_Score                 9.952351
Amenity_Score                      7.824742
Possession_Status             Ready to move
Sales_Channel                        Direct
NRI_Buyer                               yes
Locality_Infra_Score               6.690428
Avg_Traffic_Time_Min                     78
Name: 145, dtype: object

In [16]:
sales_annalysis['Unit_Size_Sqft']=sales_annalysis['Unit_Size_Sqft'].replace(-1.0,np.nan)

In [17]:
sales_annalysis.iloc[145]

Micro_Market                   BELLARY ROAD
Project_Name                    Project_145
Developer_Name                  Puravankara
Unit_Size_Sqft                          NaN
Configuration                          3BHK
Ticket_Price_Cr                    9.094891
Transaction_Type                  Secondary
Buyer_Type                  Startup Founder
Purchase_Quarter        2024-03-31 00:00:00
Connectivity_Score                 9.952351
Amenity_Score                      7.824742
Possession_Status             Ready to move
Sales_Channel                        Direct
NRI_Buyer                               yes
Locality_Infra_Score               6.690428
Avg_Traffic_Time_Min                     78
Name: 145, dtype: object

In [18]:
print("Missing before:", sales_annalysis['Unit_Size_Sqft'].isna().sum())

Missing before: 10551

In [19]:


# Impute Unit_Size_Sqft using mean by Configuration & Micro_Market
sales_annalysis['Unit_Size_Sqft'] = sales_annalysis.groupby(['Configuration', 'Micro_Market'])['Unit_Size_Sqft'].transform(lambda x: x.fillna(x.mean()))

In [20]:
sales_annalysis.iloc[145]

Micro_Market                   BELLARY ROAD
Project_Name                    Project_145
Developer_Name                  Puravankara
Unit_Size_Sqft                  6029.301836
Configuration                          3BHK
Ticket_Price_Cr                    9.094891
Transaction_Type                  Secondary
Buyer_Type                  Startup Founder
Purchase_Quarter        2024-03-31 00:00:00
Connectivity_Score                 9.952351
Amenity_Score                      7.824742
Possession_Status             Ready to move
Sales_Channel                        Direct
NRI_Buyer                               yes
Locality_Infra_Score               6.690428
Avg_Traffic_Time_Min                     78
Name: 145, dtype: object

In [21]:
sales_annalysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Micro_Market          101000 non-null  object
 1   Project_Name          101000 non-null  object
 2   Developer_Name        101000 non-null  object
 3   Unit_Size_Sqft        101000 non-null  float64
 4   Configuration         101000 non-null  object
 5   Ticket_Price_Cr       90981 non-null   float64
 6   Transaction_Type      101000 non-null  object
 7   Buyer_Type            101000 non-null  object
 8   Purchase_Quarter      101000 non-null  datetime64[ns]
 9   Connectivity_Score    101000 non-null  float64
 10  Amenity_Score         90910 non-null   float64
 11  Possession_Status     101000 non-null  object
 12  Sales_Channel         101000 non-null  object
 13  NRI_Buyer             101000 non-null  object
 14  Locality_Infra_Score  101000 non-null  float64
 15  Avg_Traffic_Time_Min  101000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(9)
memory usage: 12.3+ MB

Continuous variables like Unit_Size_Sqft can have many unique values.
To group them meaningfully, you should bin them into ranges.

In [22]:
sales_annalysis.Ticket_Price_Cr.isnull().sum()

np.int64(10019)

In [23]:
# Create binned Unit_Size_Sqft for grouping
sales_annalysis['Size_Bin'] = pd.cut(sales_annalysis['Unit_Size_Sqft'], bins=10)

# Impute missing Ticket_Price_Cr using mean by (Configuration + Micro_Market + Size_Bin)
sales_annalysis['Ticket_Price_Cr'] = sales_annalysis.groupby(
    ['Configuration', 'Micro_Market', 'Size_Bin']
)['Ticket_Price_Cr'].transform(lambda x: x.fillna(x.mean()))


# Drop helper bin column
sales_annalysis.drop(columns=['Size_Bin'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7584\3792778826.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_annalysis['Ticket_Price_Cr'] = sales_annalysis.groupby(

In [24]:
sales_annalysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Micro_Market          101000 non-null  object
 1   Project_Name          101000 non-null  object
 2   Developer_Name        101000 non-null  object
 3   Unit_Size_Sqft        101000 non-null  float64
 4   Configuration         101000 non-null  object
 5   Ticket_Price_Cr       101000 non-null  float64
 6   Transaction_Type      101000 non-null  object
 7   Buyer_Type            101000 non-null  object
 8   Purchase_Quarter      101000 non-null  datetime64[ns]
 9   Connectivity_Score    101000 non-null  float64
 10  Amenity_Score         90910 non-null   float64
 11  Possession_Status     101000 non-null  object
 12  Sales_Channel         101000 non-null  object
 13  NRI_Buyer             101000 non-null  object
 14  Locality_Infra_Score  101000 non-null  float64
 15  Avg_Traffic_Time_Min  101000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(9)
memory usage: 12.3+ MB

In [25]:
sales_annalysis.Amenity_Score.isnull().sum()

np.int64(10090)

In [26]:
# Step 2: Create price bins (to represent luxury levels)
sales_annalysis['Price_Bin'] = pd.cut(sales_annalysis['Ticket_Price_Cr'], bins=10)

# Step 3: Impute missing Amenity_Score using mean grouped by Configuration, Micro_Market, and Price_Bin
sales_annalysis['Amenity_Score'] = sales_annalysis.groupby(['Configuration', 'Micro_Market', 'Price_Bin'])['Amenity_Score'].transform(lambda x: x.fillna(x.mean()))

sales_annalysis.drop(columns=['Price_Bin'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7584\1044897861.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_annalysis['Amenity_Score'] = sales_annalysis.groupby(['Configuration', 'Micro_Market', 'Price_Bin'])['Amenity_Score'].transform(lambda x: x.fillna(x.mean()))

In [27]:
sales_annalysis.Amenity_Score.isnull().sum()

np.int64(0)

In [34]:
sales_annalysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Micro_Market          101000 non-null  object
 1   Project_Name          101000 non-null  object
 2   Developer_Name        101000 non-null  object
 3   Unit_Size_Sqft        101000 non-null  float64
 4   Configuration         101000 non-null  object
 5   Ticket_Price_Cr       101000 non-null  float64
 6   Transaction_Type      101000 non-null  object
 7   Buyer_Type            101000 non-null  object
 8   Purchase_Quarter      101000 non-null  datetime64[ns]
 9   Connectivity_Score    101000 non-null  float64
 10  Amenity_Score         101000 non-null  float64
 11  Possession_Status     101000 non-null  object
 12  Sales_Channel         101000 non-null  object
 13  NRI_Buyer             101000 non-null  object
 14  Locality_Infra_Score  101000 non-null  float64
 15  Avg_Traffic_Time_Min  101000 non-null  int64
 16  Price_per_Sqft        101000 non-null  float64
 17  Quarter_Number        101000 non-null  int32
 18  Year                  101000 non-null  int32
 19  Booking_Flag_edits    101000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(2), object(9)
memory usage: 14.6+ MB

Price_per_Sqft=
(Ticket_Price_Cr×10,000,000 )/Unit_Size_Sqft​

In [29]:
sales_annalysis['Price_per_Sqft'] = (sales_annalysis['Ticket_Price_Cr'] * 1e7) / sales_annalysis['Unit_Size_Sqft']

In [30]:
# Extract quarter number (1 to 4)
sales_annalysis['Quarter_Number'] = sales_annalysis['Purchase_Quarter'].dt.quarter

# (Optional) Extract year if needed
sales_annalysis['Year'] = sales_annalysis['Purchase_Quarter'].dt.year

In [31]:
sales_annalysis.Possession_Status.unique()

array(['Launch', 'Under construction', 'Ready to move'], dtype=object)

In [32]:
def get_booking_flag(row):

    if str(row['Possession_Status']).strip().lower() in ['ready to move','completed']:
        return 1  # booked / ready property
    else:
        return 0  # Not booked or still under development

sales_annalysis['Booking_Flag_edits'] = sales_annalysis.apply(get_booking_flag, axis=1)

In [33]:
sales_annalysis.to_csv('Luxury_Housing_Sales_Analysis')